.env
core/__pycache__/settings.cpython-310.pyc
rangam_ai/__pycache__/models.cpython-310.pyc
rangam_ai/__pycache__/serializers.cpython-310.pyc
rangam_ai/__pycache__/urls.cpython-310.pyc
rangam_ai/__pycache__/utils.cpython-310.pyc
rangam_ai/__pycache__/views.cpython-310.pyc
venv/bin/huggingface-cli
venv/lib/python3.10/site-packages/__pycache__/typing_extensions.cpython-310.pyc
venv/lib/python3.10/site-packages/annotated_types/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/__pycache__/from_thread.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/__pycache__/lowlevel.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/__pycache__/to_thread.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_eventloop.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_exceptions.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_fileio.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_resources.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_signals.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_sockets.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_streams.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_subprocesses.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_synchronization.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_tasks.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_testing.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/_core/__pycache__/_typedattr.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/abc/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/abc/__pycache__/_eventloop.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/abc/__pycache__/_resources.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/abc/__pycache__/_sockets.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/abc/__pycache__/_streams.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/abc/__pycache__/_subprocesses.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/abc/__pycache__/_tasks.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/abc/__pycache__/_testing.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/streams/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/streams/__pycache__/memory.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/streams/__pycache__/stapled.cpython-310.pyc
venv/lib/python3.10/site-packages/anyio/streams/__pycache__/tls.cpython-310.pyc
venv/lib/python3.10/site-packages/distro/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/distro/__pycache__/distro.cpython-310.pyc
venv/lib/python3.10/site-packages/django/core/management/commands/__pycache__/shell.cpython-310.pyc
venv/lib/python3.10/site-packages/exceptiongroup/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/exceptiongroup/__pycache__/_catch.cpython-310.pyc
venv/lib/python3.10/site-packages/exceptiongroup/__pycache__/_exceptions.cpython-310.pyc
venv/lib/python3.10/site-packages/exceptiongroup/__pycache__/_formatting.cpython-310.pyc
venv/lib/python3.10/site-packages/exceptiongroup/__pycache__/_suppress.cpython-310.pyc
venv/lib/python3.10/site-packages/exceptiongroup/__pycache__/_version.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_abnf.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_connection.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_events.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_headers.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_readers.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_receivebuffer.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_state.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_util.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_version.cpython-310.pyc
venv/lib/python3.10/site-packages/h11/__pycache__/_writers.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/__pycache__/_api.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/__pycache__/_exceptions.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/__pycache__/_models.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/__pycache__/_ssl.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/__pycache__/_synchronization.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/__pycache__/_trace.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/__pycache__/_utils.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_async/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_async/__pycache__/connection_pool.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_async/__pycache__/connection.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_async/__pycache__/http_proxy.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_async/__pycache__/http2.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_async/__pycache__/http11.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_async/__pycache__/interfaces.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_async/__pycache__/socks_proxy.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_backends/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_backends/__pycache__/anyio.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_backends/__pycache__/auto.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_backends/__pycache__/base.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_backends/__pycache__/mock.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_backends/__pycache__/sync.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_backends/__pycache__/trio.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_sync/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_sync/__pycache__/connection_pool.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_sync/__pycache__/connection.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_sync/__pycache__/http_proxy.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_sync/__pycache__/http2.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_sync/__pycache__/http11.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_sync/__pycache__/interfaces.cpython-310.pyc
venv/lib/python3.10/site-packages/httpcore/_sync/__pycache__/socks_proxy.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/__version__.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_api.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_auth.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_client.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_compat.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_config.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_content.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_decoders.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_exceptions.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_main.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_models.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_multipart.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_status_codes.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_types.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_urlparse.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_urls.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/__pycache__/_utils.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/_transports/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/_transports/__pycache__/asgi.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/_transports/__pycache__/base.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/_transports/__pycache__/default.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/_transports/__pycache__/mock.cpython-310.pyc
venv/lib/python3.10/site-packages/httpx/_transports/__pycache__/wsgi.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/_migration.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/aliases.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/annotated_handlers.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/config.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/errors.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/fields.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/generics.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/json_schema.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/main.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/type_adapter.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/types.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/version.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/__pycache__/warnings.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_config.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_core_metadata.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_core_utils.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_decorators.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_discriminated_union.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_docs_extraction.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_fields.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_forward_ref.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_generate_schema.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_generics.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_internal_dataclass.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_known_annotated_metadata.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_mock_val_ser.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_model_construction.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_repr.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_schema_generation_shared.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_signature.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_std_types_schema.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_typing_extra.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_utils.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_validate_call.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/_internal/__pycache__/_validators.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/plugin/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/plugin/__pycache__/_loader.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/plugin/__pycache__/_schema_validator.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/annotated_types.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/class_validators.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/color.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/config.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/dataclasses.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/datetime_parse.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/decorator.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/env_settings.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/error_wrappers.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/errors.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/fields.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/json.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/main.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/networks.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/parse.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/schema.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/tools.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/types.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/typing.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/utils.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/validators.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic/v1/__pycache__/version.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic_core/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/pydantic_core/__pycache__/core_schema.cpython-310.pyc
venv/lib/python3.10/site-packages/sniffio/__pycache__/__init__.cpython-310.pyc
venv/lib/python3.10/site-packages/sniffio/__pycache__/_impl.cpython-310.pyc
venv/lib/python3.10/site-packages/sniffio/__pycache__/_version.cpython-310.pyc
